.circle {
  width: 40px;
  height: 40px;
  line-height: 25px;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 2px solid green;
  cursor: pointer;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.stepWrapper {
  display: flex;
  margin-bottom: 20px;
}

.stepBlock .circleWrapper {
  padding: 0px 20px;
  position: relative;
}

.selected .circle {
  color: white;
  background-color: green;
  border-color: green;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  left: 14%;
  bottom: 0px;
  background-color: green;
  margin: auto;
  z-index: -1;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 3px;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.6;
}

.primaryButton {
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.primaryButton:disabled {
  opacity: 0.5;
}